---
title: "Series"
layout: default
permalink: "/series.html"
---

<div class="row listrecent">
    {% assign seriesuniquelist =  site.posts | map: 'series' | uniq %}
    {% assign site_series = "" | split: ',' %}
    
    {% for seriesname in seriesuniquelist %}
        {% assign postlist = site.posts | where: "series", seriesname %}
        {% assign series = "" | split: ',' %}
        {% assign series = series | push: seriesname | push: postlist %}
        {% assign site_series = site_series | push: series %}
    {% endfor %}

    {% for series in site_series %}
        <div class="section-title col-md-12 mt-4">
            <h2 id="{{ series[0] | replace: " ","-" }}">Series <span class="text-capitalize">{{ series[0] }}</span></h2>
        </div>
        {% assign postlist = series[1] %}
        {% for post in postlist %}
            {% if post.title != null %}
                {% if group == null or group == post.group %}
                    {% include postbox.html %}
                {% endif %}
            {% endif %}
        {% endfor %}
        {% assign pages_list = nil %}
        {% assign group = nil %}
    {% endfor %}
</div>